.App {
    background-image: url("./image/backgroundtwo.png");
    background-position: center;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}